<div class="completer-holder" ctrCompleter>
    <input class="completer-input" ctrInput [(ngModel)]="searchStr" [attr.name]="inputName" [placeholder]="placeholder" [attr.maxlength]="maxChars"
        [tabindex]="fieldTabindex" [disabled]="disableInput" [clearSelected]="clearSelected" [overrideSuggested]="overrideSuggested" (blur)="onBlur()"
        autocomplete="off" autocorrect="off" autocapitalize="off" />

    <div class="completer-dropdown-holder" *ctrList="dataService; minSearchLength: minSearchLength; pause: pause; autoMatch: autoMatch; let items = results; let searchActive = searching; let isInitialized = searchInitialized;">
        <div class="completer-dropdown" ctrDropdown *ngIf="isInitialized">
            <div *ngIf="searchActive && displaySearching" class="completer-searching">{{textSearching}}</div>
            <div *ngIf="!searchActive && (!items || items.length === 0)" class="completer-no-results">{{textNoResults}}</div>
            <div class="completer-row-wrapper" *ngFor="let item of items; let rowIndex=index">
                <div class="completer-row" [ctrRow]="rowIndex" [dataItem]="item">
                    <div *ngIf="item.image || item.image === ''" class="completer-image-holder">
                        <img *ngIf="item.image != ''" src="{{item.image}}" class="completer-image" />
                        <div *ngIf="item.image === ''" class="completer-image-default"></div>
                    </div>
                    <div *ngIf="item.color || item.color === ''" class="completer-image-holder">
                        <div *ngIf="item.color != ''" [style.backgroundColor]="{{item.color}}" class="completer-image" />
                        <div *ngIf="item.color === ''" class="completer-image-default"></div>
                    </div>
                    <div class="completer-item-text" [ngClass]="{'completer-item-text-image': item.image || item.image === '' }">
                        <completer-list-item class="completer-title" [text]="item.title" [matchClass]="matchClass" [searchStr]="searchStr" [type]="'title'"></completer-list-item>
                        <completer-list-item *ngIf="item.description && item.description != ''" class="completer-description" [text]="item.description"
                            [matchClass]="matchClass" [searchStr]="searchStr" [type]="'description'">
                        </completer-list-item>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>